/* You can add global styles to this file, and also import other style files */
body {
    background-color: #0c1c3b !important ;

    
}

nav.navbar {
    background-color: #0c1c3b !important;
    --bs-navbar-padding-x: 1.5rem;
}

a.nav-link{
    color:white;
}

.navbar-toggler{
    color:#b2323b;

}
 span.navbar-toggler-icon{
    color:#b2323b !important;
 }
