<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    
</head>

<body>
  <div class="container-fluid" style="padding: 4%;">
    <div class="row">
      <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card card-red" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Mi equipo</h5>
          <ul class="list-group">
            <li class="list-group-item">Thor</li>
            <li class="list-group-item">Iron Man</li>
            <li class="list-group-item">Spider-Man</li>
            <li class="list-group-item">Hulk</li>
            <li class="list-group-item">X-men</li>
          </ul>
        </div>
      </div>
    </div>
      <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Listado de Héroes</h5>
          <h6 class="card-subtitle mb-2 text-muted">Selecciona un héroe para añadir a tu equipo</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Ver más</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>
